body {
	background-color: lightblue;
	color: darkblue;
}
h3 {
	font-family: 'Lucida Sans';
	color: darkblue;

}
table {
	font-family: 'Lucida Sansa';
	font-size: 10;
	color: black;
	width: 50%;
	word-spacing: 2px;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}